In [5]:
#%load_ext version_information
#%version_information

In [1]:
# Standard library

# Third party imports
import pandas as pd

# Local imports
%run ../src/database.py

### Retrieve data

In [4]:
query = """
SELECT itapudid, max1stdetectwssa,max1stdetectwssb, max1stdetectwssc, max1stdetectwssd, max1stdetectwsse, max1stdetectwssf
FROM poweroffevent
ORDER BY itapudid
LIMIT 100000;
"""

In [7]:
df = pd.read_sql_query(query, engine)
results = pd.DataFrame(df)
results.head(20)

,itapudid,max1stdetectwssa,max1stdetectwssb,max1stdetectwssc,max1stdetectwssd,max1stdetectwsse,max1stdetectwssf
0,163540005001DC915C983,NaN,NaN,NaN,NaN,NaN,NaN
1,163540005001DC915C983,NaN,NaN,NaN,NaN,NaN,NaN
2,163540005001DC915C983,NaN,NaN,NaN,NaN,NaN,NaN
3,163540005001DC915C983,NaN,NaN,NaN,NaN,NaN,NaN
4,163540005001DC915C983,NaN,NaN,NaN,NaN,NaN,NaN
5,163540005001DC915C983,NaN,NaN,NaN,NaN,NaN,NaN
6,163540005001DC915C983,NaN,NaN,NaN,NaN,NaN,NaN
7,163540005001DC915C983,NaN,NaN,NaN,NaN,NaN,NaN
8,163540005001DC915C983,NaN,NaN,NaN,NaN,NaN,NaN
9,163540005001DC915C983,NaN,NaN,NaN,NaN,NaN,NaN
10,163540005001DC915C983,NaN,NaN,NaN,NaN,NaN,NaN
11,163540005001DC915C983,NaN,NaN,NaN,NaN,NaN,NaN
12,163540005001DC915C983,NaN,NaN,NaN,NaN,NaN,NaN
13,163540005001DC915C983,NaN,NaN,NaN,NaN,NaN,NaN
14,163540005001DC915C983,NaN,NaN,NaN,NaN,NaN,NaN
15,163540005001DC915C983,NaN,NaN,NaN,NaN,NaN,NaN
16,163540005001DC915C983,NaN,NaN,NaN,NaN,NaN,NaN
17,163540005001DC915C983,NaN,NaN,NaN,NaN,NaN,NaN
18,163540006001DC915B4EF,NaN,NaN,NaN,NaN,NaN,NaN
19,163540006001DC915B4EF,NaN,NaN,NaN,NaN,NaN,NaN

### Scrub data

In [27]:
# Keep only production devices
df = df[df['itapudid'].str.slice(0,2).astype(int) >= 16]
results1 = pd.DataFrame(df)
results1.head(3)

,accountid,avgload,avgspeed,bssid,bssid1,bssid2,bssid3,created_at,eventtime,drivenum,...,p1presspoweroff,padwearstat,schemavers,servprvder,softgpsloc,totaldist,tripdist,warnlampstat,itappin,itapudid
0,A3J43,NaN,1,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 13:33:12,5,...,6200.0,NaN,3,1,,0.0,0.0,1,1888062301,163540005001DC915C983
1,A3J43,NaN,1,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 13:38:10,9,...,6200.0,NaN,3,1,,0.0,0.0,1,1888062301,163540005001DC915C983
2,A3J43,NaN,255,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 16:31:04,14,...,7500.0,NaN,3,1,,0.0,0.0,0,1888062301,163540005001DC915C983

### Save data

In [14]:
df.to_pickle('../data/wss')  # pickle dataframe

AttributeError: module 'pandas' has no attribute 'display'